includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
    tmpDir: .phpstan.cache
    excludePaths:
        - src/Search/SearchableDocument.php
        - src/Search/ScoutIndexer.php
